:root{
    --font-color-primary: #f1f1f1;
    --font-color-secondary: #8b8b8b;
    --font-color-highlight: #810000;
    --font-color-highlight-under: #db0000;
    --background-color-main: #282828aa;
    --background-color-mid: #363636aa;
    --background-color-final: #3f3f3faa;
}
html{
    margin: 0;
    padding: 0;
}

*{
    text-decoration: none;
}
.content:not(.content){
    margin-inline:5em;
    display: flex;
    flex-direction: column;
}
body{
    color: var(--font-color-primary);
    padding: 0;
    min-height: 100vh;
    /*background-image: url('assets/card2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    background-color: black;
}

section{
    width: 100%;
    padding: 1em;
    margin-block: 3em;
}


/*  Background Style*/


/* Nav Bar  */
nav{
    display:grid;
    grid-template-columns: 5rem 1fr;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 99;
}

nav>ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 3em;
    background-color: rgba(0,0,0,0)
}
a{
    color: var(--font-color-primary);
    position: relative;
}
a::before {
    content: attr(change-text);
    position: absolute;
    top:0;
    left:0; 
    color: var(--font-color-highlight);
    overflow: hidden;
    width: 0%;
    transition: .5s;
}
a:hover::before{
    width:100%;
}

/* Bio Styles */
.bio{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    *{
	    text-align:center;
	    font-size: 2rem;
	    line-height: 3rem;
	    padding-inline: 1em;
	    padding-block: 2em;
    }


}

/* Book Styles */
.book{
    display: grid;
    grid-template-areas: 
    "title title"
    "img span1"
    "span2 emb";
    grid-template-rows: 1fr 1fr 5em;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    h1{
	    text-align:center;
	    grid-area: title;
    }
    .img{
	    height: 10em;
	    width: 10em;
    }

    img{
	    grid-area: img;
    }

    embed{
	    grid-area: emb;
    }

    #span1{
	    grid-area: span1;
    }
    #span2{
	    grid-area: span2;
    }

    *:not(h1){
	    padding: 2em;
	    font-size: 1.5rem;
    }
}

/* Contact Styles */
.contact{
    background-color: var(--background-color-final);
}

/* Yuliy Name */
.title{
    display:grid;
    justify-content: center;
    gap: 0;
    font-size: 1rem;
}


.title>h3{
    text-align: center;
    color:var(--font-color-secondary);
    position: relative;
}
.title>h3::after{
    content: 'Artist';
    border-top: 1px var(--font-color-secondary) solid;
    color: var(--font-color-highlight);
    font-size: .7rem;
    display:block;
}


/* Gallery Styles */
.card{
    max-width: 100%;
}

.gallery{
    --img-size: calc(100px - .5rem / 2);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, var(--img-size));
    grid-template-rows: repeat(3, var(--img-size));
    gap:.5rem;
    align-items:center;
    justify-items:center;

    img{
        aspect-ratio: 1;
        z-index: 0;
        object-fit: cover;
        grid-column: span 2;
        border-radius: .5rem;
        transition: filter 250ms, clip-path 250ms;
        clip-path: path('M 80 20 C 100 0 100 0 120 20 C 140 40 160 60 180 80 C 200 100 200 100 180 120 C 160 140 140 160 120 180 C 100 200 100 200 80 180 C 60 160 40 140 20 120 C 0 100 0 100 20 80 Z');
        

        &:nth-of-type(4){
            grid-column: 2/ span 2;
        }

        &:hover{
            clip-path: path('M 0 0 C 100 0 100 0 200 0 C 200 50 200 50 200 80 C 200 100 200 100 200 120 C 200 150 200 150 200 200 C 100 200 100 200 0 200 C 0 150 0 150 0 120 C 0 100 0 100 0 80 Z');
            z-index: 99;
        }
        &:not(:hover){
            animation: zIndexHack: 250ms;
        }
    }
}


.gallery:hover > img {
    filter: brightness(0.5) saturate(0.5);
}

.gallery > img:hover {
    filter: brightness(1) saturate(1.5);
}

@keyframes zIndexHack{
    0%, 100%{
        z-index: 10;
    }
}

/* Arrow Icon */

@keyframes btnMove{
    from{transform: translate(0, 0);}
    to{transform: translate(-1em, 0);}
}
.icon>img{
    height: 5em;
    width:5em;
    animation: btnMove .5s ease-in-out alternate infinite;
    filter: invert(100%) sepia(1%) saturate(5584%) hue-rotate(304deg) brightness(121%) contrast(89%);
}
.icon{
    position:relative;
    display: flex;
    align-items: center;
}
/* Make arrow red on hover */
.icon::before{
    content: url('./Assets/arrow.svg');
    position: absolute;
    top: 0;
    left: 0;
    filter: invert(17%) sepia(52%) saturate(5737%) hue-rotate(355deg) brightness(97%) contrast(84%);
    /*overflow: hidden;*/
    height: 10%;
    width: 100%;
    transition: .5s;
    z-index: 5;
    animation: btnMove .5s ease-in-out alternate infinite;
}
.icon:hover::before{
    width:100%;
}
.load{
    display:none;
}

