@import url('https://fonts.cdnfonts.com/css/chiller');

:root{
    --font-color-primary: #f1f1f1;
    --font-color-secondary: #8b8b8b;
    --font-color-highlight: #810000;
    --font-color-highlight-under: #db0000;
    --background-color-main: #282828aa;
    --background-color-mid: rgba(56, 56, 56, 0.3);
    --background-color-final: #3f3f3faa;
}
html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    *{
        font-family: 'Chiller', sans-serif;
        font-size: 2ch;
    }
}

*{
    text-decoration: none;
}
.content:not(.content){
    margin-inline:5em;
    display: flex;
    flex-direction: column;
}
body{
    color: var(--font-color-primary);
    padding: 0;
    min-height: 100vh;
    background-color: black;
}

section{
    width: 100%;
    padding: 1em;
    margin-block: 3em;
}


/* Nav Bar  */
nav{
    display:grid;
    grid-template-columns: 5rem 1fr;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 99;
}

nav>ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 3em;
    background-color: rgba(0,0,0,0)
}
a{
    color: var(--font-color-primary);
    font-size: 1.5rem;
    position: relative;
}
a::before {
    content: attr(change-text);
    position: absolute;
    top:0;
    left:0; 
    color: var(--font-color-highlight);
    overflow: hidden;
    width: 0%;
    transition: width .5s;
}
a:hover::before{
    width:100%;
}

/* Bio Styles */
.bio{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    *{
        text-align:center;
        font-size: 2rem;
        line-height: 3rem;
        padding-inline: 1em;
        padding-block: 10em;
    }

    .expl-heads{
        height: 10em;
        aspect-ratio: 13/16;
        mask-image: radial-gradient(rgb(0 0 0 / 100%), transparent 60% );
    }

    .timelapse{
        height: 10em;
    }

    span{
        color: hsl(0 0% 100% / 0.2);
        background-size: 0% 100%;
        background-image: linear-gradient(90deg, var(--font-color-highlight), var(--font-color-highlight-under));
        background-clip: text;
        background-repeat: no-repeat;
        animation: scroll-reveal linear forwards;
        animation-timeline: view();
    }

    h1 span{
        font-size: 5ch;
        animation-range:  30% 50%;
    }

    p span{
        animation-range: 20% 50%;
    }


}

@keyframes scroll-reveal{
    to {
        background-size: 100% 100%;
    }
}

/* Book Styles */
.book{
    .book-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-inline: 4em;
        justify-items: center;
        align-items: center;

        gap: 5em;

        .left{
            transform: translate(-100vw, 0);
        }
        .right{
            transform: translate(100vw, 0);
        }

        img{
            width: 10em;
            aspect-ratio: 14/16

        }
        .timelapse{
            height: 20em;
            aspect-ratio: 25/10;
        }
        *{
            font-size: 2rem;
            text-align: center;
            animation: scroll-book linear forwards;
            animation-timeline: view();
            animation-range: 0vh 40vh;
        }

    }

    h1{
        text-align:center;
        padding-block: 50vh;
        transform: translate(0, 100vh);
        animation: scroll-book linear forwards;
        animation-timeline: view();
        animation-range: 0vh 20vh;
        font-size: 5ch;
    }

    *{
        padding-block-end: 50vh;
    }

}

@keyframes scroll-book{
    to {
        transform: translate(0, 0);
    }
}

/* Contact Styles */
.contact{
    margin-block-start: 50vh;
    h1{
        font-size: 5ch;
        text-align: center;
    }
    .contact-box{

        .contact-item{
            margin-block: 1em;
            margin-bottom: 2em;
            padding: .25rem;
            border-radius: 0.5em;
            border: none;
            border-bottom: 2px solid white;
            color: var(--font-color-primary);
            font-size: 1.7rem;
            background-color: rgba(0, 0, 0, 0);
            height: 2em;

            &:not(input){
                width: 60%;
                transition: height 300ms ease, width 300ms ease, margin-block-start 300ms ease;

                &:focus{
                    height: 20vh;
                    margin-block-start: 1em;
                    width: 100%;
                }
            }
        }

        input{
            width: 15%;
            text-align: center;
            transition: width 300ms ease;

            &:focus{
                width: 100%;
            }

            &:autofill{
                background-color: rgba(0, 0, 0, 0);
                color: var(--font-color-primary);

            }
        }

        .submit-btn{
            width: 10em;
            background-color: rgba(10, 10, 10, 0.3);
            color: var(--font-color-primary);
            font-size: 1.5rem;
            border-top-right: 2px solid var(--background-color-primary);
            height: 3em;
            border-radius: 1em;

            &::before {
                content: attr(change-text);
                position: absolute;
                inset: 0;
                width: 0%;
                color: var(--font-color-highlight);
                transition: width 300ms ease;
            }

            &:hover{
                cursor: pointer;

                & ::before{
                    width: 100%;
                }
            }
        }

        margin-inline: 30vw;
        border-radius: 3em;
        background-color: var(--background-color-mid);
        display: flex;
        padding-block: 3em;
        padding-inline: 4em;
        flex-direction: column;
        align-items: center;


    }
}


/* Yuliy Name */
.title{
    display:grid;
    justify-content: center;
    gap: 0;
    font-size: 1.5rem;

    h3{
        text-align: center;
        color: rgba(0, 0, 0, 0);
        position: relative;
        background-image: linear-gradient(
        .5turn,
        var(--font-color-secondary) 40%,
        var(--font-color-highlight) 40%,
        var(--font-color-highlight) 80%,
        var(--font-color-secondary) 80%,
        var(--font-color-secondary) 100%
        );
        background-clip:text;
        background-position: normal;
        background-repeat: no-repeat;
        background-size: 100% 150%;
        animation: underFlow 600ms forwards;

    }
}

.title h3::after{
    color: rgba(0, 0, 0, 0);
    content: "Artist";
    border-top: 1px var(--font-color-secondary) solid;
    font-size: .7rem;
    display: block;
}

.title h3:hover{
    animation: underFlowOut 600ms forwards;
    cursor: pointer;
}

@keyframes underFlowOut{
    from{ background-position-y: normal; }
    to{ background-position-y: 115%; }
}
@keyframes underFlow{
    from { background-position-y: 115%; }
    to{ background-position-y: normal; }
}

/* Gallery Styles */

.gallery-title{
    min-width: 100%;
    font-size:  5ch;
    text-align: center;
    padding-block-end: 10vh;
    padding-block-start: 1em;
}
.card{
    max-width: 100%;
}

.gallery{
    --img-size: calc(11em - .5rem / 2);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, var(--img-size));
    grid-template-rows: repeat(3, var(--img-size));
    gap:1rem;
    align-content: center;
    justify-content: center;

    &:hover{
        img{
            filter: brightness(0.5) saturate(0.5);

            &:hover{
                filter: brightness(1) saturate(1.5);
            }
        }

    }


    img{
        aspect-ratio: 1;
        z-index: 0;
        object-fit: cover;
        grid-column: span 2;
        border-radius: .5rem;
        transition: filter 250ms, clip-path 250ms;
        clip-path: path('M 120.96 30.24 C 151.2 0 151.2 0 181.44 30.24 C 211.68 60.48 241.92 90.72 272.16 120.96 C 302.4 151.2 302.4 151.2 272.16 181.44 C 241.92 211.68 211.68 241.92 181.44 272.16 C 151.2 302.4 151.2 302.4 120.96 272.16 C 90.72 241.92 60.48 211.68 30.24 181.44 C 0 151.2 0 151.2 30.24 120.96 Z');


        &:nth-of-type(4){
            grid-column: 2/ span 2;
        }

        &:hover{
            clip-path: path('M 0 0 C 151.2 0 151.2 0 302.4 0 C 302.4 75.6 302.4 75.6 302.4 120.96 C 302.4 151.2 302.4 151.2 302.4 181.44 C 302.4 226.8 302.4 226.8 302.4 302.4 C 151.2 302.4 151.2 302.4 0 302.4 C 0 226.8 0 226.8 0 181.44 C 0 151.2 0 151.2 0 120.96 Z');
            z-index: 99;

        }
        &:not(:hover){
            animation: zIndexHack 250ms;
        }
    }
}


@keyframes zIndexHack{
    0%, 100%{
        z-index: 10;
    }
}



/* =-=-=-=-=- SHOP STYLES -=-=-=-=-=-=- */

/* GENERAL */

.shop-main{
    display: flex;
    min-width: 100vw;
    gap: 2em;
    flex-direction: row;
    perspective: 7000px;
    margin-block-start: 10em;

    justify-content: center;
}

/* IMAGES */

.shop-element{
    position: relative;
    width: 20em;
    aspect-ratio: 10/16;
    transition: rotate 400ms ease;
    transform-style: preserve-3d;

    .book-bg{
        position: absolute;
        z-index: 3;
        height: 100%;
        width: 100%;
    }

    .logo{
        position: absolute;
        z-index: 4;
        width: 100%;
        inset: 0;
        transform: translateZ(100px) scale(0.75);
        transition: 
        rotate 400ms ease,
        transform 400ms ease;
    }

    .shop-hover{
        position: absolute;
        transform: translateZ(100px) translateY(4em);
        top: 15em;
        mask-image: linear-gradient(rgba(0 0 0 / 100%) 75%, transparent);
        max-height: 100%;
        max-width: 100%;
        opacity: 0;
        z-index: 3;
        transition: 
            opacity 400ms ease,
            rotate 400ms ease,
            transform 400ms ease;
    }

    &::before{
        content: '';
        position: absolute;
        inset: -2rem;
        z-index: 1000;
        border-block: 3rem solid black;
        filter: blur(0.75rem);
        opacity: 0;
        transition: 
        opacity 400ms ease;
    }

    &::after{
        content: '';
        position: absolute;
        inset: 80% 1rem 1rem;
        transform: translatez(-200px);
        background: var(--background-color-mid);
        z-index: 1;
        filter: blur(1rem);
        transition: 
        translate 400ms ease,
        rotate 400ms ease;
    }

    &:hover{
        rotate: x 35deg;

        .logo{
            rotate: x -35deg;
            transform: translateZ(100px) scale(0.9) translateY(2em);
        }

        &::after{
            translate: 0 1rem; 
            rotate: x -35deg;
        }

        &::before{
            opacity: 1;
        }

        .shop-hover{
            opacity: 1;
            rotate: x -35deg;
            transform: translateZ(100px) scale(1.15);
        }
    }
}

 


/* TEXT */

.shop-text{
    max-width: 11ch;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    justify-content: space-between;

    *:hover{
        animation: shake 200ms ease-in-out infinite;
    }
}

@keyframes shake{
    0% { transform: rotateZ(0deg) }
    25% { transform: rotateZ(5deg) }
    50% { transform: rotateZ(0deg) }
    75% { transform: rotateZ(-5deg) }
}

.final-shop-text{
    color: var(--font-color-highlight);
}
